.categories-overview
	.container.container--no-space
		each cat in categoriesOverview
			.categories-overview__category
				.categories-overview__description
					h4.categories-overview__title= cat.category
					p= cat.description
				.categories-overview__product.product-card
					h5.product-card__title= cat.exampleProduct.title
					p= cat.exampleProduct.description
					.product-card__meta
						span= cat.exampleProduct.price
						| 
						a.product-card__view(href="#{ cat.exampleProduct.link }") View
